.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;

  .moviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
  }
}

