.movieEditing {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  row-gap: 1rem;

  .button {
    width: 8rem;
    align-self: flex-start;
  }

  .form {
    display: flex;
    flex-direction: column;

    .inputBlock {
      margin-bottom: .6rem;

      .formText {
        opacity: 0;
        font-size: .75rem;;
        color: tomato;
      }

      .formTextActive {
        opacity: 1;
        color: tomato;
      }
    }

    .button {
      width: 10rem;
      align-self: center;
    }
  }
}