.movie-info {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    //display: flex;
  }

  &__image {
    height: 20rem;

    img {
      height: 100%;
    }
  }
  &__body {

  }
}