.movies-list-item {
  width: 17rem;
  transition: box-shadow .2s linear;

  &:hover {
    -webkit-box-shadow: 2px 2px 8px 4px rgba(153, 166, 176, 0.2);
    -moz-box-shadow: 2px 2px 8px 4px rgba(153, 166, 176, 0.2);
    box-shadow: 2px 2px 8px 4px rgba(153, 166, 176, 0.2);
  }

  .card-body {
    display: flex;
    flex-direction: column;

    .card-title {
      cursor: pointer;
      height: 3rem;
      transition: font-weight .1s ease-in;
      letter-spacing: .01rem;

      &:hover {
        font-weight: bold;
      }
    }

    .card-content {
      justify-content: space-between;

      .card-likes {
        display: flex;
        flex-direction: column;
      }

      .image-container {
        height: 12rem;

        img {
          height: 100%;
        }
      }
    }

    .rating {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0;
    }
  }


}