.rating-button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #2a2929;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    .rating-button__star {
      transition: transform .1s linear;
      transform: scale(1.5, 1.5);
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.99);
  }
}