.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem 1rem;
  width: 70%;
  margin: 0 auto;

  .langButton {
    margin-right: 1rem;
  }

  a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: color .2s linear;

    &:hover {
      color: #5b5b5b;
    }
  }

  .button {
    align-self: flex-end;
  }
}